@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}
body {
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 24px;
}
a {
    text-decoration: none;
    color: #F9FAF8;
}
p {
    font-size: 16px;
    color: #E5E7EB;
}

#great-info {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
}
#logo {
    font-size: 24px;
    color: #F9FAF8;
}
#characters {
    color: #1F2937;
    font-size: 24px;
    font-weight: bolder;
}

.header-info, .header {
    display: flex;
}

.header {
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.header-info {
    display: flex;
    justify-content: space-around;
    padding: 20px 10px;
    text-align: center;
    
}

.description {
    width: 50%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.container, .footer {
    background-color: #1F2937;
    
}
.placeholder {
    width: auto;
    height: 300px;
    border: 2px solid burlywood;
    border-radius: 10px;
}
.button {
    text-align: center;
}
.button-mod {
    width: fit-content;
    padding: 6px 25px;
    background-color: #00BFFF;
    border: 1px solid #00BFFF;
    border-radius: 10px;
}
.header-char {
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-container {
    padding: 10px;
}
.content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.text-info {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    border: 4px solid #003cff;
    border-radius: 6px;
    margin-bottom: 15px;
}
.char-info {
    display: flex;
    color:#1F2937;
    font-size: 14px;
    text-align: center;
}
.char-image {
    width: 150px;
    height: 150px;
}
.third-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #E5E7EB;
}
/* Third part */
.quote {
    width: 50%;
    height: 50%;
    display: flex;
}
.quote-char {
    font-size: 24px;
    font-style: italic;
    color: #1F2937;
    width: 420px;
}
#char {
    display: flex;
    justify-content: right;
    font-size: 19px;
    font-weight: 900;
    color: #1F2937;
    font-style: normal;
}
.footer {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}